
if(!empty($_REQUEST["brkNews"])){
	$brkNews = $_REQUEST["brkNews"];
} else {
	$brkNews = theme_get_setting('breaking_news','berty'); 
}
if(empty($brkNews)) $brkNews = '0';

?>
<div id="wrapper">
	<?php  if($page['top_header']):?>
		<div class="header-banner-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<?php print render($page['top_header']); ?>
					</div>
				</div>
			</div>
		</div>
	<?php endif; ?>
	<?php if($brkNews == '1' && $page['top_2_header_left']):?>
		<div class="header-line">
			<div class="container">
				<div class="row">
					<?php  if($page['top_2_header_right']) { ?>
						<div class="col-md-6 breaking-news">
							<div class="title"><?php print t('Breaking News')?></div>
							<div class="news-ticker-line">
								<div class="str1 str_wrap news-ticker">
									<?php print render($page['top_2_header_left']); ?>
								</div>
							</div>
						</div>
						<div class="col-md-6 text-center">
							<?php print render($page['top_2_header_right']); ?>
						</div>
					<?php } else { ?>
						<div class="col-md-12 breaking-news">
							<div class="title"><?php print t('Breaking News')?></div>
							<div class="news-ticker-line">
								<?php print render($page['top_2_header_left']); ?>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
	<?php endif; ?>
	<header class="header-row">
		<div class="container">
			<div class="col-md-12 no-padding header-container">
				<div class="col-md-4 no-padding logo-wrapper">
					<?php if($logo):?>
						<h1 id="logo">
							<a href="<?php print $base_url ?>" rel="home">
								<img src="<?php print $logo; ?>" alt="logo"/>
							</a>
						</h1>
					<?php endif; ?>
				</div>
				<div class="col-md-8 floatright text-right header-link-menu">
					<?php  if($page['mid_header']):?>
						<?php print render($page['mid_header']); ?>
					<?php endif; ?>
				</div>
			</div>
		</div>
	</header>
	<div class="skin light">
		<div class="container">
			<?php  if($page['bot_header']):?>
				<?php print render($page['bot_header']); ?>
			<?php endif; ?>
			<nav id="mainnav">
				<a href="#search_box" id="header-main-search"><i class="fa fa-search"></i></a>
				<?php  if($page['main_menu']):?>
					<?php print render($page['main_menu']); ?>
				<?php endif; ?>
			</nav>
			<?php  if($page['bot_2_header']):?>
				<?php print render($page['bot_2_header']); ?>
			<?php endif; ?>


global $base_url;

if(!empty($_REQUEST["sidebar"])){
	$sidebar = $_REQUEST["sidebar"];
} else {
	$sidebar = theme_get_setting('sidebar', 'berty'); 
}
if(empty($sidebar)) $sidebar = '0';

if(!empty($_REQUEST["fw"])){
	$fw = $_REQUEST["fw"];
} else {
	$fw = theme_get_setting('fw', 'berty'); 
}
if(empty($fw)) $fw = '0';
	
?>
<?php
	if (!empty($tabs['#primary']) || !empty($tabs['#secondary'])):
		print render($tabs);
	endif;
	print $messages;
	unset($page['content']['system_main']['default_message']);
?>
<main>
	<div class="row">
		<?php if($fw == '0') { ?>
			<?php  if($sidebar == '0'){ ?>
				<div id="content" class="col-md-8 col-md-push-4">
						<?php  if($page['content']):?>
							<?php print render($page['content']) ?>
						<?php endif; ?>
				</div>
				<?php  if($page['right_sidebar']):?>
					<div id="sidebar" class="ls col-md-4 col-md-pull-8">
						<?php print render($page['right_sidebar']); ?>
					</div>
				<?php endif; ?>
			<?php } else { ?>
				<div id="content" class="col-md-8">
					<?php  if($page['content']):?>
						<?php print render($page['content']) ?>
					<?php endif; ?>
				</div>
				<?php  if($page['right_sidebar']):?>
					<div id="sidebar" class="rs col-md-4">
						<?php print render($page['right_sidebar']); ?>
					</div>
				<?php endif; ?>
			<?php } ?>
			
		<?php } else { ?>
			<?php  if($page['content']):?>
				<?php print render($page['content']) ?>
			<?php endif; ?>
		<?php } ?>
	</div>
</main>

if(!empty($_REQUEST["fmenu"])){
	$fmenu = $_REQUEST["fmenu"];
} else {
	$fmenu = theme_get_setting('fmenu', 'berty'); 
}
if(empty($fmenu)) $fmenu = '0';
?>
		</div>
	</div>
	<div id="footer-area" class="dark">
		<?php  if($page['footer_menu'] && $fmenu == '1' ):?>
		<div class="footer-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div id="footer-menu-container" class="menu-main-menu-container">
							<?php print render($page['footer_menu']); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php endif; ?>
		<div id="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<?php  if($page['footer_widget_1']):?>
							<?php print render($page['footer_widget_1']); ?>
						<?php endif; ?>
					</div>
					<div class="col-md-4">
						<?php  if($page['footer_widget_2']):?>
							<?php print render($page['footer_widget_2']); ?>
						<?php endif; ?>
					</div>
					<div class="col-md-4">
						<?php  if($page['footer_widget_3']):?>
							<?php print render($page['footer_widget_3']); ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
		</div>
		<footer id="bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 footer">
						<?php $copy = theme_get_setting('footer_copyright_message','berty'); ?>
						<?php if(!empty($copy )) { ?>
							<?php print $copy; ?>
						<?php } ?>	 
					</div>
					<div class="col-md-6 text-center">
						<?php  if($page['footer_bot_right']):?>
							<?php print render($page['footer_bot_right']); ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>




